body {
  font-family: 'VT323', monospace;
  text-align: center;
  background-color: #000;
  color: #e10600; /* Tarantino-style red */
  text-shadow: 0 0 6px #e10600;
  margin: 0;
  padding: 20px;
}

a {
  color: #e10600;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, p, pre, .tracklist li {
  color: #e10600;
}

.tracklist {
  list-style-position: inside;
  padding: 0;
  margin: 30px 0;
}

.tracklist li {
  margin: 12px 0;
}

.tracklist a {
  color: #00ff00;
  text-decoration: none;
  font-size: 1.5em;
}

.download-link {
  color: #00ff00;
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
}

.back-link {
  color: #00ff00;
  margin-top: 30px;
  display: block;
  text-decoration: none;
}

img.artwork {
  width: 400px;      /* fixed width for all screens */
  max-width: 90%;    /* just in case screen is very small */
  height: auto;
  display: block;
  margin: 20px auto;
}

audio {
  margin-top: 20px;
}

